                <section class="no-padding-top">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="block margin-bottom-sm">
                            <div class="title"><strong>Basic Table</strong></div>
                            <div class="table-responsive"> 
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th> Name</th>
                                    <th>Email</th>
                                    <th>paid by</th>
                                    <th>Matriculation Number</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% var num = 1%>
                                    <%data.forEach((data)=>{%>
                                <tr>
                                    <th scope="row"><%= num %></th>
                                    <td><%= data.firstName%> <%= data.lastName%></td>
                                    <td><%= data.email%></td>
                                    <td><%= data.collector%></td>
                                    <td><%= data.matric%></td>
                                    <td><%= data.amount%></td>
                                    <td><a href="./paid/<%= data._id%>"> see more</a></td>
                                </tr>
                                <%num +=1%>
                                <%});%>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                    
                    
                    

                    </div>
                    </div>
                </section>